# Ignore entire Vivado generated folders (any depth, any project)
**/*.cache/
**/*.runs/
**/*.sim/
**/*.hw/
**/*.gen/
**/*.ip_user_files/
**/*.srcs/
*.xpr

# Individual Vivado junk file types
*.jou
*.log
*.str
*.tmp
*.bak
*~
*.bit
*.bin
*.ltx
*.mmi
*.webtalk
*.xml
*.wdb
*.vcd
*.pb
*.o
*.obj
*.dcp
*.rpt
*.rpx
*.vdi
*.vds
*.tcl
*.bat
*.sh
*.rst
*.wdf
*.wpc
*.lpr
*.ini
*.prj
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.type
*.version
*.xdbg
*.sdb
*.dir
.DS_Store
Thumbs.db
